sudo: required
services:
  - docker
language: node_js
cache:
  directories:
    - node_modules
branches:
  only:
    - master
notifications:
  email: false
node_js:
  - '4'
before_install:
  - docker pull fingershock/dynamodb-local
  - npm i -g npm@^2.0.0
before_script:
  - npm prune
script:
  - docker run
  - npm run cover
#  - npm run check-coverage
  - npm run build
after_success:
#  - npm run report-coverage
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
